<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pjmcp.illinoisurbanmanual_app">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IllinoisUrbanManual_App">
<!--        <activity-->
<!--            android:name=".splash"-->
<!--            android:exported="true" />-->
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity android:name=".ChooseBMP"></activity>
        <activity android:name=".GoodBmp"></activity>
        <activity android:name=".BadBmp"></activity>
        <activity android:name=".Response"></activity>
        <activity android:name=".splash" android:theme="@style/AppTheme1" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyC7CYUYravG0RC1BktH5ak5X3ShiFlK9qg" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.IUM"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>